/* @import url(style.css); */

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  "header header header header header header"
  ". sidebar-left container container sidebar-right .";
}

.header{
  grid-area: header;
  background-color: cornflowerblue;
}
.sidebar-left{
  background-color: chocolate;
  grid-area: sidebar-left;
}

.container{
  background-color: darkseagreen;
  grid-area: container;
}

.sidebar-right{
  background-color: blueviolet;
  grid-area: sidebar-right;
}