@import url(style.css);

.grid-area{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 90px;
  grid-template-areas: 
  "header header"
  "sidebar content"
  "footer  footer";
}

.header{
  grid-area: header;
  background-color: aqua;
}

.sidebar{
  grid-area:sidebar;
  background-color: sandybrown;
}

.content{
  grid-area: content;
  background-color: blueviolet;
}